.education {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  grid-column: 1;
  max-height: fit-content;
  max-width: 410px;
  margin: 0 auto;
  border: 1px solid #2c2c2c;
  position: relative;
  z-index: 2;
}

.education h2 {
  color: #ffffff;
}

.school-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.csula-logo {
  width: 20px;
  height: auto;
  border-radius: 2px;
}

.education-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.degree {
  margin-bottom: 0;
}
