.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #111;
  color: white;
  max-height: fit-content;
  font-size: 12px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  filter: brightness(90%);
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.social-links a {
  background: #222;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: 1px solid #3b3b3b;
}

.social-links a:hover {
  scale: 1.1;
}
